#header-profile{
    max-width: 700px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:3rem;
}

#header-profile a{
    text-decoration: none;
}

#header-profile #header-profile-details{
    display:flex;
    align-items: center;
    cursor: pointer;
    transition: 280ms;
}
#header-profile #header-profile-details:hover{
    opacity: 0.5;
}

#header-profile #header-profile-details img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

#header-profile #header-profile-details span{
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-complement);
    margin-left: 1.5rem;
}

#header-profile #exit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    background-color: var(--color-primary); 
    cursor: pointer;
    transition: 280ms;
}

#header-profile #exit-button:hover{
    opacity: 0.5;
}

#header-profile #exit-button img{
    width: 3rem;
    height: 3rem;
}

@media (min-width: 1100px){
    #header-profile{
        max-width: 1100px;
        width: 90vw;
    }
}