.teacher-item .teacher-week-schedule{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 3rem;
}

.teacher-item .teacher-week-schedule .day{
    display:flex;
    flex-direction: column;
    width: 12rem;
    height: 12rem;
    box-sizing: border-box;
    border: 1px solid var(--color-line-in-white);
    padding: 0.8rem;
    border-radius: 10%;
    background-color: var(--color-box-footer);
}

.teacher-item .teacher-week-schedule .day span{
    font: 700 1.4rem Archivo;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-base);
}
.teacher-item .teacher-week-schedule .day label{
    font:500 1.2rem Poppins;
    line-height: 2.0rem;
    color: var(--color-text-complement);
}
